<form -asp-action="Index">
    <label>Nhap ma he thong phan phoi</label>
    <input type="text" name="MaHTPP">
    <label>Nhap ten he thong phan phoi</label>
    <input type="text" name="TenHTPP">
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.infoHeThongPhanPhoi</h2>