<form -asp-action="Index">
    <label>Nhap ma dai ly</label>
    <input type="text" name="MaDaiLy">
    <label>Mhap ten dai ly</label>
    <input type="text" name="TenDaiLy">
    <label>Nhap dia chi</label>
    <input type="text" name="DiaChi">
    <label>Nhap nguoi dai dien</label>
    <input type="text" name="DienThoai">
    <label>Nhap ma he thong phan phoi</label>
    <input type="text" name="MaHTPP">
    <label>Nhap ten he phan phoi</label>
    <input type="text" name="TenHTPP">
    <input type="submit" name="Send">
</form>
<h2>@ViewBag.inforDaiLy</h2>